<h3>Show Sport Keyword</h3>
<dl class="dl-horizontal">
  <dt>Rule Type</dt>
  <dd class="stv-form"><%= @sport_keyword.rule_type %>&nbsp;</dd>
  <dt>Value</dt>
  <dd class="stv-form"><%= @sport_keyword.value %>&nbsp;</dd>
  <dt>Sport</dt>
  <dd class="stv-form"><% unless @sport_keyword.sport.nil? %><%= @sport_keyword.sport.name %><% end %>&nbsp;</dd>
  <dt>Priority</dt>
  <dd class="stv-form"><%= @sport_keyword.priority %>&nbsp;</dd>
</dl>
<div class="form-horizontal form-actions stv-form-buttons">
  <%= link_to 'Edit', edit_sport_keyword_path(@sport_keyword), :class => 'btn btn-mini' %>
  <%= link_to 'Back', sport_keywords_path , :class => 'btn btn-mini'%>
</div>
