<h3>Listing Sports</h3>
<p><%= link_to 'New', new_sport_path, :class => 'btn btn-mini btn-primary' %></p>
<table class="table table-striped table-condensed admin">
  <thead>
    <tr>
      <th>Name</th>
      <th>Program Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sports.each do |sport| %>
      <tr id="sport_<%= sport.id %>">
        <td><%= link_to sport.name, sport %></td>
        <td><%= sport.programs.count %></td>
        <td>
          <%= link_to 'Edit', edit_sport_path(sport), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', sport, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>