<h1>Listing programs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Region</th>
    <th>Sport</th>
    <th>Channel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= program.title %></td>
    <td><%= program.subtitle %></td>
    <td><%= program.region_id %></td>
    <td><%= program.sport_id %></td>
    <td><%= program.channel_id %></td>
    <td><%= link_to 'Show', program %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Destroy', program, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program', new_program_path %>
