<h1>Listing raw_programs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Category</th>
    <th>Description</th>
    <th>Start datetime</th>
    <th>End datetime</th>
    <th>Region name</th>
    <th>Channel xmltv</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raw_programs.each do |raw_program| %>
  <tr>
    <td><%= raw_program.title %></td>
    <td><%= raw_program.subtitle %></td>
    <td><%= raw_program.category %></td>
    <td><%= raw_program.description %></td>
    <td><%= raw_program.start_datetime %></td>
    <td><%= raw_program.end_datetime %></td>
    <td><%= raw_program.region_name %></td>
    <td><%= raw_program.channel_xmltv_id %></td>
    <td><%= link_to 'Show', raw_program %></td>
    <td><%= link_to 'Edit', edit_raw_program_path(raw_program) %></td>
    <td><%= link_to 'Destroy', raw_program, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raw program', new_raw_program_path %>
