<h1>Listing raw_channels</h1>

<table>
  <tr>
    <th>Xmltv</th>
    <th>Channel name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raw_channels.each do |raw_channel| %>
  <tr>
    <td><%= raw_channel.xmltv_id %></td>
    <td><%= raw_channel.channel_name %></td>
    <td><%= link_to 'Show', raw_channel %></td>
    <td><%= link_to 'Edit', edit_raw_channel_path(raw_channel) %></td>
    <td><%= link_to 'Destroy', raw_channel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raw channel', new_raw_channel_path %>
